<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="background-color:smoke; color:cadetblue; margin:100px auto;"><%= head1 %></h1>
    <p>Diving into the the Back-End Dev course materials to get the it's logic among other programming logics</p>
	<div style="margin-top: 10px;">
	<b style="cadetblue">Open translator by clicking on button</b> 
	<button class="btn" style="padding: 5px; cursor:pointer; color:darkblue; background:black; opacity:0.7;">
	  <a href="/week3/translator/translateToGerman.html" rel="noopener noreferrer" target="_blank" class="expressRouting" style="text-decoration:none;">Translate Me</a>
	</button>
	<div>
  </body>
</html>
